<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloatware</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="contenedor">
        <h1>Bloatware</h1>
        <img id="bloatwareImage" src="/Layout/Imagen bloat.png" alt="Bloatware">
        <p id="infoText">
            En el inicio de la era de la informática, los primeros ordenadores tenían grandes limitaciones de recursos...
        </p>
        <button id="changeContentButton">Cambiar Contenido</button>
        <p>
            ... y se utilizaba sobre todo para referirse a las actualizaciones de aplicaciones y sistemas operativos.
        </p>
        <h2>Cómo deshacerte del bloatware</h2>
        <p>
            Hay varias alternativas para deshacerte del bloatware...
        </p>
        <h2>Bibliografía</h2>
        <ul>
            <li><a href="https://es.wikipedia.org/wiki/Bloatware" target="_blank">Wikipedia: Bloatware</a></li>
            <li><a href="https://www.xataka.com/basics/que-es-bloatware-y-como-eliminarlo-de-tu-ordenador-o-movil" target="_blank">Xataka: Qué es el bloatware y cómo eliminarlo</a></li>
            <li><a href="https://support.microsoft.com/es-es/help/4026246/windows-10-remove-bloatware" target="_blank">Microsoft Support: Cómo eliminar el bloatware en Windows 10</a></li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>
</html>
